h1.a {
    color:blue;
    text-align:right;
    background-color:yellow;
    font-family:arial;
}
h1.b {
    color:white;
    text-align:center;
    background-color:lightblue;
    font-family:arial;
}
.aone {
    color:cyan;
    text-align:center;
    background-color:lightpink;
    font-family:arial;
}
